@section title
{
        <ul>
            <li>
                <a href="/Categories/Edit/1">Fruits</a>
            </li>
            <li>
                <a href="/Categories/Edit/2">Meat</a>
            </li>
        </ul>

}
